<h1>Stock Search</h1>
<p>Please submit the Symbol of the company you'd like to track</p>

  <%= form_with url: "/", method: :post do |form| %>
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query, placeholder: "Company Symbol" %>
    <%= form.submit "Search" %>
  <% end %>

<% if @stock%>

  <%= @stock.company_name%><br>
  $<%= @stock.latest_price%> <br>
<% elsif @nothing %>
  <%= @nothing %>
<% end %>
<% if @error %>
  <%= @error %>
<% end %>
